version: '3.8' # Phiên bản Docker Compose

services:
  # Dịch vụ Redis
  redis:
    image: redis:latest # Sử dụng image Redis chính thức và mới nhất
    container_name: hasaki_redis # Đặt tên container dễ nhận biết
    restart: always # Tự động khởi động lại nếu bị lỗi
    ports:
      - "6379:6379" # Map cổng: PORT_HOST:PORT_CONTAINER
    volumes:
      - redis_data:/data # Lưu trữ dữ liệu Redis bền vững (persistent)

# Định nghĩa Volume để lưu trữ dữ liệu Redis (Quan trọng)
volumes:
  redis_data:
    driver: local